/rates.dat
/*.mod
*_nrn.py
/x86_64
/*.gv
/*.dat
/report.*.txt
/LEMS_SimRates.xml
/temp/*.gv
/temp/*.png
/temp/LEMS_*.xml
/temp/Neuron_2015_Table.csv
/temp/*.dat
/temp/*.pov
/temp/*.pov-state
/temp/*.net.nml_movie.ini
/temp/*.mod
/temp/report.SimExample.txt
/temp/x86_64
/temp/*.svg
/temp/ABA12.tsv
/temp/Example1_Mouse.json
/temp/Example1_MouseConns.json
/temp/Example1_TestNetwork.json
/temp/nature13186-s2_1.csv
/temp/nature13186-s2_2.csv
/temp/nature13186-s4_W_ipsi.csv
/temp/retrograde-directed-weighted-connectivity_matrix-figure2.csv
/temp2
/LNP/*.gv*
*.spikes
*.dat
/LNP/report*.txt
/LNP/LEMS_SimExampleIF.xml
/McCP/report*.txt
/McCP/*.gv*
/McCP/ExampleNet.net.nml
/McCP/LEMS_SimExampleNet.xml
*.mod
